// Post style

.ve-article {
  .ve-author-link,
  a {
    text-decoration: none;
    color: darken($ve-vue-green-color, 5%);
    &:hover {
      color: darken($ve-vue-green-color, 15%);
    }
  }
  ul {
    li {
      padding-bottom: 10px;
    }
  }
  .ve-page-title {
    font-size: 3rem;
    font-weight: 500;
    font-family: $ve-post-font;
  }
  .ve-page-thumbnail {
    img {
      width: 100%;
      margin: 25px 0;
    }
  }
  .ve-page-body {
    font-size: 1.25rem;
    line-height: 1.5em;
    font-family: $ve-post-font;
    p {
      font-size: 1.25rem;
    }
    img {
      width: 100%;
      margin: 10px 0 25px 0;
    }
    iframe {
      margin: 25px 0;
      width: 100%;
    }
  }
}

@media (max-width: 468px) {
  .ve-article {
    .ve-page-title {
      font-size: 2rem;
    }
    .ve-page-body {
      font-size: 1.125rem;
      p {
        font-size: 1.125rem;
      }
    }
  }
}