// Variables

$ve-background-gray-color: #f3f3f3;
$ve-white-color: #fff;
$ve-black-color: #000;
$ve-border-gray-color: #e2e2e2;
$ve-background-white-color: #fff;
$ve-dark-color: #777;
$ve-gray-dark-color: #ddd;
$ve-dark-color: #4c4c4c;
$ve-vue-green-color: #4fc08d;

$ve-dark-overlay-color: rgba(53, 73, 94, 0.79);

$ve-primary-font: 'Source Sans Pro', 'Arial', sans-serif;
$ve-post-font: 'Miriam Libre', 'Arial', sans-serif;
$ve-secundary-font: 'Miriam Libre', 'Arial', sans-serif;
