// Variables

$ve-background-gray-color: #f3f3f3;
$ve-white-color: #fff;
$ve-black-color: #000;
$ve-border-gray-color: #e2e2e2;
$ve-background-white-color: #fff;
$ve-dark-color: #777;
$ve-gray-dark-color: #ddd;
$ve-dark-color: #2e2e2e;
$ve-vue-green-color: #1d774e;

$ve-dark-overlay-color: rgba(46, 46, 46, .64);

$ve-primary-font: -apple-system, BlinkMacSystemFont, 'Lucida Grande', 'Lato', 'Arial', sans-serif;
$ve-secundary-font: -apple-system, BlinkMacSystemFont, 'Lucida Sans', 'Lato', 'Arial', sans-serif;
