// Variables

$ve-background-gray-color: #f3f3f3;
$ve-white-color: #fff;
$ve-border-gray-color: #e2e2e2;
$ve-background-white-color: #fff;
$ve-dark-color: #777;
$ve-gray-dark-color: #ddd;
$ve-dark-color: #2e2e2e;

$ve-dark-overlay-color: rgba(46, 46, 46, .7);

$ve-primary-font: 'Lato', 'Arial', sans-serif;
$ve-secundary-font: 'Lato', 'Arial', sans-serif;
