---
layout: home
---
<div id="app">
    <section class="ve-articles">
        <div class="container">
            <div class="row mt-5 mb-5">
                {% for post in site.posts limit: 5 %}
                    {% if forloop.first == true %}
                    <div class="col-lg-12 col-sm-12 col-xs-12 mb-4">
                        <div class="ve-card card bg-dark text-white">
                            <img class="card-img" src="{{ post.thumbnail }}" alt="Card image">
                            <div class="card-img-overlay">
                                <h2 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                <p class="card-text">{{ post.description }}</p>
                                <p class="card-text">
                                    <div class="media">
                                        <a href="https://github.com/{{ post.github }}"><img class="mr-3 rounded-circle" src="https://avatars3.githubusercontent.com/{{ post.github }}?s=460" width="50" alt="Generic placeholder image"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0">{{ post.author }}</h5>
                                            {{ post.date | date_to_string }}
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-6 col-sm-12 col-xs-12 mb-4">
                        <div class="ve-card card bg-dark text-white">
                            <img class="card-img" src="{{ post.thumbnail }}" alt="Card image">
                            <div class="card-img-overlay">
                                <h2 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                <p class="card-text">{{ post.description }}</p>
                                <p class="card-text">
                                    <div class="media">
                                        <a href="https://github.com/{{ post.github }}"><img class="mr-3 rounded-circle" src="https://avatars3.githubusercontent.com/{{ post.github }}?s=460" width="50" alt="Generic placeholder image"></a>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-0">{{ post.author }}</h5>
                                            {{ post.date | date_to_string }}
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>
<section class="ve-slack">
    <div class="container">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="{{ "slack-logotype.png" | prepend: site.assets.img }}" width="120">
            <p class="pt-3">Únete a nuestra comunidad y comunicate con otros desarrolladores de Vue alrededor del mundo en tiempo real.</p>
            <p class="pt-2">Si. Realmente solo tratamos de hacer que la mensajería instantánea suene como algo asombroso e increíble.</p>
            <script async defer src="https://slack.vue-es.org/slackin.js"></script>
        </div>
    </div>
</section>
