<base href="/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Vue en español</title>
<link rel="icon" type="image/png" href="favicon.png" />
<meta property="og:title" content="Vue en español" />
<meta property="og:locale" content="es" />
<meta property="og:type" content="website" />
<meta name="description" content="Nuestra intención es crear un sitio de intercambio de experiencias y conocimientos de Vue.js y todo su ecosistema" />
<meta property="og:description" content="Nuestra intención es crear un sitio de intercambio de experiencias y conocimientos de Vue.js y todo su ecosistema" />
<link rel="canonical" href="https://vue-es.org" />
<meta property="og:url" content="https://vue-es.org" />
<meta property="og:site_name" content="Vue en español" />
<meta property="og:image" content="https://vue-es.org/assets/img/welcome-vue-es.jpg">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Miriam+Libre:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karma:400,500,700" rel="stylesheet">
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{'main.css' | prepend: site.assets.css}}">
<script type="application/ld+json">
{
    "name": "Vue en español",
    "description": "Nuestra intención es crear un sitio de intercambio de experiencias y conocimientos de Vue.js y todo su ecosistema",
    "author": null,
    "@type": "WebPage",
    "url": "https://vue-es.org",
    "image": "https://vue-es.org/assets/img/welcome-vue-es.jpg",
    "publisher": "Comunidad de vue en español",
    "headline": "Comunidad de Vue en español",
    "dateModified": null,
    "datePublished": null,
    "sameAs": null,
    "mainEntityOfPage": null,
    "@context":"http://schema.org"
}
</script>