<header class="ve-header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col ve-logotype">
                <a href="/"><img width="180" src="{{ 'logotype.svg' | prepend: site.assets.svg }}"></a>
            </div>
            <nav class="col">
                <ul class="float-right ve-navigation-header list-inline">
                    <li class="ve-navigation-header__item list-inline-item"><a href="/">Inicio</a></li>
                    <!-- <li class="ve-navigation-header__item list-inline-item"><a href="/">About</a></li> -->
                    <li class="ve-navigation-header__item list-inline-item"><a href="https://slack.vue-es.org">Slack</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
