// Global

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $ve-white-color;
  font-family: $ve-primary-font;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ve-primary-font;
  font-weight: 500;
  margin: 5px 0 15px 0;
}

// Blockquote
blockquote {
  color: $ve-dark-color;
  border-left: 4px solid;
  border-color: $ve-gray-dark-color;
}

// Table
table {
  thead,
  tbody {
    tr {
      th,
      td {
        text-align: left;
      }
    }
  }

  thead {
    tr {
      th {
        color: #fff;
        background-color: #212529;
        border-color: #32383e;
        padding: .75rem !important;
      }
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid #e9ecef;
        padding: .75rem !important;
      }
    }
  }
}

// Card
.card {
  .card-title {
    a {
      color: $ve-dark-color;
      &:hover {
        color: lighten($ve-dark-color, 10%);
      }
    }
  }
}

// Highlight
.highlight {
  padding: 20px;
  margin: 20px 0 !important;
}

// Static
.ve-static {
  font-family: "Miriam Libre","Arial",sans-serif;
  p {
    font-size: 1.125rem;
  }
}

.main-content {
  background: #f8fafc;
}

@media (max-width: 468px) {
  .ve-blog {
    .card-columns {
      .card {
        border-radius: 0;
        border: 0;
        .card-img-top {
          border-radius: 0;
        }
      }
    }
  }
}
