// Global

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $ve-white-color;
  font-family: $ve-primary-font;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ve-primary-font;
  font-weight: 500;
}

// Blockquote
blockquote {
  color: $ve-dark-color;
  border-left: 4px solid;
  border-color: $ve-gray-dark-color;  
}

// Table
table {
  thead,
  tbody {
    tr {
      th,
      td {
        text-align: left;
      }
    }
  }
}

.main-content {
  background: #f8fafc;
}