// Home
.ve-articles {
  .ve-card {
    min-height: 350px;
    overflow: hidden;
    .card-img-overlay {
      padding: 25px 35px;
      padding-right: 20%;
      .ve-card-description {
        height: 55px;
        overflow: hidden;
      }
    }
  }
  .ve-box {
    min-height: 400px;
    .ve-box-image {
      img {
        height: 195px;
      }
    }
  }
}
.ve-slack {
  padding: 75px 0;
  min-height: 35px;
}

@media (max-width: 468px) {
  .ve-articles {
    .row {
      padding: 0 !important;
      .col-lg-12,
      .col-lg-6 {
        margin: 0 !important;
        padding: 0;
      }
      .ve-card {
        min-height: 450px;
        .card-img-overlay {
          padding-right: 0;
          padding: 25px;
        }
      }
    }
  }
  .ve-slack {
    margin: 0 !important;
    .__slackin {
      width: 102px;
    }
  }
}