// Home

.ve-articles {
  .ve-box {
    background: $ve-background-white-color;

    .ve-box-content {
      .ve-box-title {
        a {
          text-decoration: none;
          color: darken($ve-background-gray-color, 70%);
        }
      }
      
      .ve-box-body {
        color: darken($ve-background-gray-color, 30%);
      }
    }
  }
}
