// Home
.ve-articles {
  .ve-card {
    height: 350px;
    overflow: hidden;
    .card-img-overlay {
      background: $ve-dark-overlay-color;
    }
  }
}
.ve-slack {
  border-top: 1px solid #e5eff5;
  background: linear-gradient(180deg, hsla(0,0%,100%,.98), hsla(0,0%,100%,.9) 70%, hsla(0,0%,100%,.8)),url(../img/slack-bg.png) 50%/35%;
}
