<!DOCTYPE>
<html>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>Vue en español</title>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/9.3.0/build.css">
        <link rel="stylesheet" type="text/css" href="{{ "main.css" | prepend: site.assets.css }}">
    </head>
    <body>
        <div id="app">
            <!-- header -->
            {% include header.html %}
            <!-- end header -->
            <!-- content -->
            <main class="main-content">
                {{ content }}
            </main>
            <!-- end content -->
            <!-- footer -->
            {% include footer.html %}
            <!-- end footer -->
        </div>
        
        <!-- Bundle.js -->
        <script src="{{ "bundle.js" | prepend: site.assets.js }}"></script>
    </body>
</html>