---
layout: default
---
<div class="container">
    <div class="columns">
        <div class="two-thirds column centered">
            <article>
                <div class="ve-box-author flex-justify-start mb-3">
                    <div class="ve-box-author-avatar pr-3">
                        <a href="https://github.com/{{ page.github }}">
                            <img alt="{{ page.github }}" width="40" height="40" src="https://avatars3.githubusercontent.com/{{ page.github }}?v=3&s=80">
                        </a>
                    </div>
                    <div>
                        <strong>Escrito por <a href="https://github.com/{{ page.github }}">{{ page.author }}</a></strong> <br>
                        <small>{{ page.date | date_to_string }}</small>
                    </div>
                </div>
                <h1>{{ page.title }}</h1>
                <div class="ve-page-body mt-2 mb-2">
                    {{ content }}
                </div>
                <disqus shortname="vue-es"></disqus>
            </article>
        </div>
    </div>
</div>
