<!DOCTYPE>
<html>
    <head>
        {% include head_main.html %}
    </head>
    <body>
        <div id="app">
            <!-- header -->
            {% include header.html %}
            <!-- end header -->
            <!-- content -->
            <main class="main-content ve-static">
                <div class="container">
                    <div class="row pt-5 pb-5">
                        <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 ml-auto mr-auto">
                            {{content}}
                        </div>
                    </div>
                </div>
            </main>
            <!-- end content -->
            <!-- footer -->
            {% include footer.html %}
            <!-- end footer -->
        </div>

        <!-- Analytics -->
        {% include analytics.html %}
        <!-- Bundle.js -->
        <script src="https://use.fontawesome.com/9f7311f599.js"></script>
        <script src="{{'bundle.js' | prepend: site.assets.js}}"></script>
    </body>
</html>
